.SectionContact{
    color: white;
    background-color: #b3b3b3;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.SectionContact p{
    text-align: center;
    color: white;
    padding: 10px;
}

.SectionContact h2{
    padding: 10px;
    padding-bottom: 0;
    text-decoration: underline;
    margin: 0;
}